# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# 정리 보류 폴더 (2026-05-24 삭제 여부 결정)
_cleanup/

# jetbrains setting folder
.idea/
astro-src 2/
